$color-black	: #000000;
$color-white	: #FFFFFF;

$color-grey-1	: #24242D;
$color-grey-2 	: #85898F;
$color-grey-3 	: #E3E8EE;
$color-grey-4 	: #454555;

$color-body 	: #1F1B29;

$color-purple 	: #82399A;