<!-- select - start -->
<div class="select">
    <select name="{{ NAME }}" class="js-select {{ CLASS }}">
        
        {{#each DATA}}
        <option value="{{ this.VALUE }}">{{ this.LABEL }}</option>
        {{/each}}

    </select>   
</div>
<!-- select - end -->