.btn{
    @include font-regular;
    font-size: 12px;
    display: inline-block;
    line-height: 46px;
    border-radius: 24px;
    color: $color-white;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid $color-purple;
    background-color: $color-body;
    box-sizing: border-box;
    white-space: nowrap;
    @include a(all 0.6s ease);

    &:hover{
        box-shadow: 0 10px 20px 0 rgba($color-purple,0.25);
    }

    &--grey{
        border: 1px solid $color-grey-2;

        &:hover{
            box-shadow: 0 10px 20px 0 rgba($color-grey-2,0.25);
        }
    }
}