.input-color{
	padding-bottom:10px;
	border-bottom: 1px solid rgba($color-purple, 0.3);
	margin-bottom:16px;

	&__label{
		@include font-regular;
		color:$color-grey-3;
		font-size: 10px;	
		line-height: 12px;
		margin-bottom:4px;
	}

	&__input{
		@include font-regular; 
		border-radius: 4px;
		display: block;
		width: 100%;
		line-height: 16px;
		height: 16px;
		padding:12px 0;
		border: 2px solid rgba($color-purple, 0);
		text-align: center;
		@include a(border 0.3s ease);

		&.active{
			border: 2px solid rgba($color-purple, 1);
		}
	}

	&__box{
		font-size: 0;
		margin:10px 0;

		&__item{
			display: inline-block;
			width:23px;
			height:23px;
			border: 2px solid rgba($color-purple, 0);
			margin-right: 8px;
			margin-bottom: 8px;
			border-radius: 4px;
			cursor: pointer;

			&:nth-child(8n){
				margin-right: 0;
			}

			@include a(border 0.3s ease);

			&.active{
				border: 2px solid rgba($color-purple, 1);
			}
		}


	}

}