---
layout: lyt-default.hbs
title: Photo Editor
description:
keywords:
---


<div class="editor jsb_ jsb_Editor" data-jsb='{"url":"./images/img.jpg"}'>
	<div class="page-content">

		<div class="editor__canvas">
            <canvas id="js-canvas"></canvas>
        </div>
		
	</div>
</div>


