---
layout: lyt-default.hbs
title: Photo Editor
description:
keywords:
---

<div class="grid">
    <div class="grid__col desktop-4 tablet-6 mobile-12">

		{{!-- Select --}}
		{{> select
			NAME='select'
			DATA=dataSelectExample
		}}

		{{!-- Input Range --}}
		{{> input-range 
            LABEL='Input Range'
            RANGE='range'
            NAME='range'
            MIN='-100'
            MAX='100'
            VALUE='0'
        }}

        {{!-- Input Color --}}
        {{> input-color 
            LABEL='Input Color'
            VALUE='#82399A'
            NAME='color'
            DATA=dataInputColorExample
        }}

	</div>
	<div class="grid__col desktop-8 tablet-6 mobile-12">

		&nbsp;

	</div>
</div>