<!-- editor-effect - start -->
<ul class="editor-effect">

	{{#each DATA}}
	<li class="editor-effect__item">
		<div class="editor-effect__box js-effect" data-effect="{{this}}"></div>
	</li>
	{{/each}}
	
</ul>
<!-- editor-effect - end -->