<!-- editor-header - start -->
<div class="editor-header">
    <ul class="grid">
        <li class="grid__col desktop-4">
            <div class="editor-header__title">Edytor zdjęć</div>
            <div class="editor-header__description">Dodaj efekty specjalne do Twojego zdjęcia</div>
        </li>
        <li class="grid__col desktop-8 to-right">
            
            <input class="js-file" type="file" name="image" accept="image/jpeg">

            {{> btn 
                BUTTON=true
                LABEL='Pobierz'
                CLASS='js-download'  
            }}

        </li>
    </ul>
</div>
<!-- editor-header - end -->