<div class="editor jsb_ jsb_Editor" data-jsb='{"url":"./images/img.jpg"}'>
	<div class="page-content">

		{{> editor-header }}

		<ul class="grid">
            <li class="grid__col desktop-4">
                
                <div class="tabs jsb_ jsb_Tabs">
                    <!--head - start -->
                    <ul class="tabs__head">
                        <li class="tabs__head__item">
                            <a href="javascript:void(0);" class="tabs__head__link js-tabs--head active" data-tab="correction">Korekty</a>
                        </li>
                        <li class="tabs__head__item">
                            <a href="javascript:void(0);" class="tabs__head__link js-tabs--head" data-tab="effects">Filtry</a>
                        </li>
                        <li class="tabs__head__item">
                            <a href="javascript:void(0);" class="tabs__head__link js-tabs--head" data-tab="shapes">Naklejki</a>
                        </li>
                        <li class="tabs__head__item">
                            <a href="javascript:void(0);" class="tabs__head__link js-tabs--head" data-tab="text">Napisy</a>
                        </li>
                        <li class="tabs__head__item">
                            <a href="javascript:void(0);" class="tabs__head__link js-tabs--head" data-tab="brush">Pędzel</a>
                        </li>
                    </ul>
                    <!--head - end -->

                    <!--body - start -->
                    <ul class="tabs__body">
                        <li class="tabs__body__item js-tabs--body jsb_ jsb_CustomScroll" data-tab="correction">

                        	<!-- CONTENT - start -->
                            <div class="tabs__body__content">

                                {{#each dataPhotoRange}}

                                    {{> input-range 
                                        LABEL=LABEL
                                        RANGE=RANGE
                                        MIN=MIN
                                        MAX=MAX
                                        VALUE=VALUE
                                        CLASS=CLASS
                                        NAME=NAME
                                    }}

                                {{/each}}

                                {{> input-color 
                                    LABEL='Tło'
                                    VALUE='#000000'
                                    CLASS='js-color-back'
                                    NAME='color-back'
                                }}

                            </div>
                            <!-- CONTENT - end -->

                        </li>
                        <li class="tabs__body__item js-tabs--body jsb_ jsb_CustomScroll" data-tab="effects">

                        	<!-- CONTENT - start -->
                            <div class="tabs__body__content">
                            </div>
                            <!-- CONTENT - end -->

                        </li>
                        <li class="tabs__body__item js-tabs--body jsb_ jsb_CustomScroll" data-tab="shapes">

                        	<!-- CONTENT - start -->
                            <div class="tabs__body__content">
                            </div>
                            <!-- CONTENT - end -->

                        </li>
                        <li class="tabs__body__item js-tabs--body jsb_ jsb_CustomScroll" data-tab="text">

                        	<!-- CONTENT - start -->
                            <div class="tabs__body__content js-edit-photo-text">  
                            </div>
                            <!-- CONTENT - end -->

                        </li>
                        <li class="tabs__body__item js-tabs--body jsb_ jsb_CustomScroll" data-tab="brush">

                        	<!-- CONTENT - start -->
                            <div class="tabs__body__content">
                            </div>
                            <!-- CONTENT - end -->

                        </li>
                    </ul>
                    <!--body - end -->

                </div>
            </li>
            <li class="grid__col desktop-8">
                
                <div class="editor__canvas">
		            <canvas id="js-canvas"></canvas>
		        </div>

            </li>
        </ul>

	</div>
</div>