<!-- editor-header - start -->
<div class="editor-header">
    <ul class="grid">
        <li class="grid__col desktop-7">
            <div class="editor-header__title">IMG100789.jpeg</div>
            <div class="editor-header__description">Dodaj efekty specjalne do Twoich zdjęć</div>
        </li>
        <li class="grid__col desktop-5 to-right">
            {{> btn 
                BUTTON=true 
                LABEL='Przywróć oryginał'   
                CLASS='btn--grey'
            }}
            &nbsp;
            {{> btn 
                BUTTON=true
                LABEL='Pobierz'  
            }}
            &nbsp;
            {{> btn 
                BUTTON=true 
                LABEL='Zapisz'   
            }}
        </li>
    </ul>
</div>
<!-- editor-header - end -->