<!-- editor-sticker - start -->
<ul class="editor-sticker">

	{{#each DATA}}
	<li class="editor-sticker__item">
		<div class="editor-sticker__box js-image" data-url="{{this}}" style="background-image:url({{this}})"></div>
	</li>
	{{/each}}
	
</ul>
<!-- editor-sticker - end -->